<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
	<!-- 1，数据库连接信息 -->
	<property name="dialect">
		org.hibernate.dialect.MySQLDialect
	</property>
	<!-- 
		<property name="connection.url">jdbc:mysql:///itcastoa0720</property>
		<property name="connection.driver_class">com.jdbc.mysql.Driver</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
	-->

	<!-- 2，其他配置 -->
	<property name="show_sql">true</property>
	<property name="hbm2ddl.auto">update</property>

	<!-- 3，导入映射文件 -->
	<property name="myeclipse.connection.profile">
		MyEclipse Derby
	</property>
	<property name="connection.url">
		jdbc:derby://localhost:1527/myeclipse
	</property>
	<property name="connection.username">classiccars</property>
	<property name="connection.password">myeclipse</property>
	<property name="connection.driver_class">
		org.apache.derby.jdbc.ClientDriver
	</property>


	<mapping resource="cn/itcast/oa/domain/User.hbm.xml" />
	<mapping resource="cn/itcast/oa/domain/Role.hbm.xml" />
	<mapping resource="cn/itcast/oa/domain/Department.hbm.xml" />
	<!-- <mapping resource="cn/itcast/oa/domain/Privilege.hbm.xml" />
	-->
	<mapping resource="cn/itcast/oa/domain/Privilege.hbm.xml" />
	<mapping resource="cn/itcast/oa/domain/Forum.hbm.xml" />
	<mapping resource="cn/itcast/oa/domain/Reply.hbm.xml" />
	<mapping resource="cn/itcast/oa/domain/Topic.hbm.xml" />


</session-factory>
</hibernate-configuration>